/* =========================================== */
/* ================= GENERAL ================= */
/* =========================================== */
p {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.text-centre {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* Audio controls */
#audio-controls {
    display: flex;
    flex-wrap: wrap;
}

#audio-controls,
#music-controls,
#narration-controls {
    height: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

#audio-controls.active,
#music-controls.active,
#narration-controls.active {
    height: auto;
    opacity: 1;
}

#music-controls.active,
#narration-controls.active {
    padding: 18px;
}

#audio-controls #music-controls, 
#audio-controls #narration-controls {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

#audio-controls .switches-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

#audio-controls > div {
    padding: 0px 20px;
}

#audio-controls p {
    margin-bottom: 6px;
    margin-top: 6px;
}

.audio-button {
    cursor: pointer;
    background-color: #db3f58;
    color: white;
    padding: 5px;
    width: 28px;
    height: 30px;
    border-radius: 50%;
    border: none;
    transition: opacity 0.5s ease;
}

.audio-button.disabled {
    cursor: not-allowed;
    filter: grayscale(1);
}

.audio-button:hover {
    opacity: 0.75;
}

.audio-button svg {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    margin-left: 2px;
}

.audio-button.skip svg {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-left: -4px;
}

.audio-button.speed span {
    margin-left: -1px;
}

.audio-button.speed {
    min-width: 50px;
    border-radius: 15px;
}

.volume-slider {
	font-size: 1.5rem;
	width: 7em;
}

.volume-slider {
	color: #db3f58;
    --thumb-height: 1.25em;
	--thumb-width: 1.25em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 130%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

.volume-slider {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

.volume-slider:active {
	cursor: grabbing;
}

.volume-slider:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
.volume-slider,
.volume-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.volume-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-thumb {
	position: relative;
}

.volume-slider::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="18px" height="18px"><path d="M3 10v4h4l5 5V5L7 10H3zm13.5 2c0-1.77-.77-3.29-2-4.28v8.56c1.23-.99 2-2.51 2-4.28zM14 3.23v2.06c2.89 1.07 5 3.87 5 7.71s-2.11 6.64-5 7.71v2.06c4.01-1.21 7-4.97 7-9.77s-2.99-8.56-7-9.77z"/></svg>')
                no-repeat center;
    background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
}

.volume-slider:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.volume-slider:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

.volume-slider::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

.volume-slider:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
.volume-slider,
.volume-slider::-moz-range-track,
.volume-slider::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.volume-slider::-moz-range-track,
.volume-slider::-moz-range-thumb,
.volume-slider::-moz-range-progress {
	background: #fff0;
}

.volume-slider::-moz-range-thumb {
	background: currentColor url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="18px" height="18px"><path d="M3 10v4h4l5 5V5L7 10H3zm13.5 2c0-1.77-.77-3.29-2-4.28v8.56c1.23-.99 2-2.51 2-4.28zM14 3.23v2.06c2.89 1.07 5 3.87 5 7.71s-2.11 6.64-5 7.71v2.06c4.01-1.21 7-4.97 7-9.77s-2.99-8.56-7-9.77z"/></svg>') no-repeat center;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
}

.volume-slider:active::-moz-range-thumb {
	cursor: grabbing;
}

.volume-slider::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

.volume-slider::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

.volume-slider::-moz-range-track,
.volume-slider::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

.volume-slider::-moz-range-thumb,
.volume-slider::-moz-range-progress {
	filter: brightness(100%);
}

.volume-slider:hover::-moz-range-thumb,
.volume-slider:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

.volume-slider:active::-moz-range-thumb,
.volume-slider:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

.volume-slider:disabled::-moz-range-thumb {
	cursor: not-allowed;
}






/* ============================================ */
/* ================= SECTION 0 ================ */
/* ============================================ */
body.section-0 {
    overflow-y: hidden;
}

/* Image carousel */
section#section-0 #image-carousel {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

section#section-0 #image-carousel .slide {
    opacity: 0;
    transition: 0.5s;
    z-index: -10;
    height: 0;
    transition: opacity 0.9s ease-in-out;
}

section#section-0 #image-carousel .slide.active {
    opacity: 1;
    z-index: 0;
    height: 100%;
}

section#section-0 #image-carousel .slide p.image-caption {
    color: white;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: #db3f58;
    padding: 10px;
    z-index: 5;
    margin: 0;
}

section#section-0 #image-carousel img {
    width: 100%;
    height: 100%;
}

section#section-0 #carousel-controls {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin: 16px;
    z-index: 10;
}

section#section-0 #carousel-controls button {
    background-color: #db3f58;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    border: none;
}

section#section-0 #carousel-controls button.active,
section#section-0 #carousel-controls button:hover {
    opacity: 0.95;
}

section#section-0 #carousel-controls button:focus {
    outline: 3px solid black;
    opacity: 0.95;
}


/* Start button */
section#section-0 #start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

section#section-0 #start-button button {
    background-color: transparent;
    padding: 25px 50px;
    font-size: 8rem;
    cursor: pointer;
    color: white;
    border: none;
    font-family: 'Just Another Hand', cursive;
    opacity: 0;
    transition: opacity 0.5s ease, font-size 1s ease, outline 0.5s ease;
}

section#section-0 #start-button button.active {
    opacity: 0.95;
}

section#section-0 #start-button button:hover, 
section#section-0 #start-button button:focus {
    outline: solid 10px white;
}

section#section-0 #start-button button.expanding {
    font-size: 24rem;
}

section#section-0 #start-button button.fading {
    opacity: 0;
    transition: opacity 1s ease, font-size 1s ease, outline 1s ease;
}

section#section-0 #temporary-hint {
    opacity: 0;
    transition: opacity 1.5s ease;
    height: 0;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

section#section-0 #temporary-hint.active {
    opacity: 0.95;
    height: auto;
}