p {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

.text-centre {
    text-align: center;
}

section#section-0 #image-carousel {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

section#section-0 #image-carousel .slide {
    opacity: 0;
    transition: 0.5s;
    z-index: -10;
    height: 0;
    transition: opacity 0.9s ease-in-out;
}

section#section-0 #image-carousel .slide.active {
    opacity: 1;
    z-index: 0;
    height: 100%;
}

section#section-0 #image-carousel .slide p.image-caption {
    color: white;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: #db3f58;
    padding: 10px;
    z-index: 5;
    margin: 0;
}

section#section-0 #image-carousel img {
    width: 100%;
    height: 100%;
}

section#section-0 #start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

section#section-0 #start-button button {
    background-color: transparent;
    padding: 25px 50px;
    font-size: 8rem;
    cursor: pointer;
    color: white;
    border: none;
    font-family: 'Just Another Hand', cursive;
    opacity: 0;
    transition: opacity 0.5s ease, font-size 1s ease, outline 0.5s ease;
}

section#section-0 #start-button button.active {
    opacity: 0.95;
}

section#section-0 #start-button button:hover, 
section#section-0 #start-button button:focus {
    outline: solid 10px white;
}

section#section-0 #start-button button.expanding {
    font-size: 24rem;
}

section#section-0 #start-button button.fading {
    opacity: 0;
    transition: opacity 1s ease, font-size 1s ease, outline 1s ease;
}

section#section-0 #carousel-controls {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin: 16px;
    z-index: 10;
}

section#section-0 #carousel-controls button {
    background-color: #db3f58;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    border: none;
}

section#section-0 #carousel-controls button.active,
section#section-0 #carousel-controls button:hover {
    opacity: 0.95;
}

section#section-0 #carousel-controls button:focus {
    outline: 3px solid black;
    opacity: 0.95;
}