/* =========================================== */
/* ================= GENERAL ================= */
/* =========================================== */
body {
    overflow-x: hidden;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Just Another Hand', cursive;
    margin: 10px 0px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-size: 25px;
}

p, li, a, figcaption, blockquote, button {
    font-family: 'Poppins', 'Roboto', sans-serif;
}

a {
    color: #db3f58;
}

figcaption {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #555;
}

blockquote {
    border-left: 5px solid #db3f58;
    padding: 10px 0px 10px 15px;
    margin: 10px 0px;
    font-size: 1.2rem;
    color: #333;
}

.text-centre {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

body.section-md .left-col strong {
    color: #db3f58;
}

/* Transition mask */
#main-body .transition-mask {
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 100%;
    background-color: #db3f58;
    transform: translateX(-50%);
    transition: width 0.5s ease-in-out;
    z-index: 10;
  }
  
#main-body .transition-mask.hide {
    width: 100%; /* Expand the mask horizontally */
}

/* Menu bar */

/* Invis state */
section#menu-bar.state-invisible {
    opacity: 0;
    height: 0px;
}

/* Collapsed state */
section#menu-bar, 
section#menu-bar.state-collapsed {
    position: fixed;
    right: 0;
    top: 40vh;
    z-index: 10;
    opacity: 1;
    height: 45px;
    width: 34px;
    background-color: white;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 0;
    cursor: pointer;
    border-radius: 5px 0px 0px 5px;
    border-left: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 3px black;
    transition: all 0.5s ease;
}

section#menu-bar.state-collapsed .expanded {
    display: none;
}

section#menu-bar.state-collapsed:hover,
section#menu-bar.state-collapsed.highlight {
    background-color: #db3f58;
    color: white;
}

#menu-bar.state-collapsed .collapsed {
    opacity: 1;
    transition: opacity 0.5s ease;
}

#menu-bar.state-collapsed .collapsed svg {
    fill: black;
    transition: fill 0.3s ease-in-out;
}

#menu-bar.state-collapsed .collapsed:hover svg,
#menu-bar.state-collapsed .collapsed.highlight svg {
    fill: white;
}

/* Expand vertically state */
section#menu-bar.state-expand-vert {
    height: 350px;
    width: 34px;
    transition: all 0.5s ease;
}

section#menu-bar.state-expand-vert .collapsed {
    opacity: 0;
    transition: all 0.5s ease;
}

section#menu-bar.state-expand-vert .expanded {
    opacity: 0;
    display: none;
    transition: all 0.5s ease;
}

/* Expand horizontally state */
section#menu-bar.state-expand-horiz {
    height: 350px;
    width: 250px;
    transition: all 0.5s ease;
    cursor: default;
}

section#menu-bar.state-expand-horiz .collapsed {
    display: none;
}

section#menu-bar.state-expand-horiz .expanded {
    display: block;
    position: relative;
    opacity: 1;
    transition: all 0.5s ease;
}

section#menu-bar.state-expand-horiz .expanded .exit {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

section#menu-bar.state-expand-horiz .expanded .exit svg {
    fill: black;
    transition: fill 0.3s ease-in-out;
}

section#menu-bar.state-expand-horiz .expanded .exit:hover svg {
    fill: #db3f58;
}

section#menu-bar.state-expand-horiz .expanded .menu-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

section#menu-bar.state-expand-horiz .expanded .menu-items h4 {
    font-family: 'Just Another Hand', cursive;
    font-size: 60px;
    margin: -10px 0 -16px 0;
}

section#menu-bar.state-expand-horiz .expanded .menu-items ul {
    margin: 0;
    padding-left: 30px;
}

section#menu-bar.state-expand-horiz .expanded .menu-items ul li a {
    color: #db3f58;
}



/* Audio controls */
section#audio-bar {
    overflow-y: auto;
    height: 10vh;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-top: solid 1px black;
}

#audio-controls {
    display: flex;
    flex-wrap: wrap;
}

#audio-controls,
#music-controls,
#narration-controls {
    height: 0;
    opacity: 0;
    transition: opacity 1s ease;
}

#audio-controls.active,
#music-controls.active,
#narration-controls.active {
    height: auto;
    opacity: 1;
}

#music-controls.active,
#narration-controls.active {
    padding: 18px;
}

#audio-controls #music-controls, 
#audio-controls #narration-controls {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
}

#audio-controls .switches-container {
    display: flex;
    align-items: center;
    gap: 25px;
}

#audio-controls > div {
    padding: 0px 20px;
}

#audio-controls p {
    margin-bottom: 6px;
    margin-top: 6px;
}

#audio-controls p#music-label {
    min-width: 342px;
}

.audio-button {
    cursor: pointer;
    background-color: #db3f58;
    color: white;
    padding: 5px;
    width: 28px;
    height: 30px;
    border-radius: 50%;
    border: none;
    transition: all 0.5s ease;
}

.audio-button.disabled,
.audio-button.disabled:hover {
    cursor: not-allowed;
    filter: grayscale(1);
}

.audio-button:hover {
    filter: brightness(1.2);
}

.audio-button svg {
    width: 15px;
    height: 15px;
    margin-top: 0px;
    margin-left: 2px;
}

#narration-controls .audio-button svg {
    margin-left: 2.5px;
}

.audio-button.play-pause svg {
    display: none;
}

.audio-button.play-pause svg.active {
    display: block;
}

.audio-button.skip svg {
    width: 20px;
    height: 20px;
    margin-top: 0px;
    margin-left: -4px;
}

.audio-button.speed span {
    margin-left: -1px;
}

.audio-button.speed {
    min-width: 50px;
    border-radius: 15px;
}

.volume-slider {
	font-size: 1.5rem;
	width: 7em;
}

.volume-slider {
	color: #db3f58;
    --thumb-height: 1.25em;
	--thumb-width: 1.25em;
	--track-height: 0.125em;
	--track-color: rgba(0, 0, 0, 0.2);
	--brightness-hover: 130%;
	--brightness-down: 80%;
	--clip-edges: 0.125em;
}

.volume-slider {
	position: relative;
	background: #fff0;
	overflow: hidden;
}

.volume-slider:active {
	cursor: grabbing;
}

.volume-slider:disabled {
	filter: grayscale(1);
	opacity: 0.3;
	cursor: not-allowed;
}

/* === WebKit specific styles === */
.volume-slider,
.volume-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.volume-slider::-webkit-slider-runnable-track,
.volume-slider::-webkit-slider-thumb {
	position: relative;
}

.volume-slider::-webkit-slider-thumb {
	--thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
	--clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
	--clip-bottom: calc(var(--thumb-height) - var(--clip-top));
	--clip-further: calc(100% + 1px);
	--box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
		100vmax currentColor;

	width: var(--thumb-width, var(--thumb-height));
	background: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="18px" height="18px"><path d="M3 10v4h4l5 5V5L7 10H3zm13.5 2c0-1.77-.77-3.29-2-4.28v8.56c1.23-.99 2-2.51 2-4.28zM14 3.23v2.06c2.89 1.07 5 3.87 5 7.71s-2.11 6.64-5 7.71v2.06c4.01-1.21 7-4.97 7-9.77s-2.99-8.56-7-9.77z"/></svg>')
                no-repeat center;
    background-color: currentColor;
	box-shadow: var(--box-fill);
	border-radius: var(--thumb-width, var(--thumb-height));

	filter: brightness(100%);
	clip-path: polygon(
		100% -1px,
		var(--clip-edges) -1px,
		0 var(--clip-top),
		-100vmax var(--clip-top),
		-100vmax var(--clip-bottom),
		0 var(--clip-bottom),
		var(--clip-edges) 100%,
		var(--clip-further) var(--clip-further)
	);
    transition: all 0.5s ease;
}

.volume-slider:hover::-webkit-slider-thumb {
	filter: brightness(var(--brightness-hover));
	cursor: grab;
}

.volume-slider:active::-webkit-slider-thumb {
	filter: brightness(var(--brightness-down));
	cursor: grabbing;
}

.volume-slider::-webkit-slider-runnable-track {
	background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
		100% calc(var(--track-height) + 1px);
}

.volume-slider:disabled::-webkit-slider-thumb {
	cursor: not-allowed;
}

/* === Firefox specific styles === */
.volume-slider,
.volume-slider::-moz-range-track,
.volume-slider::-moz-range-thumb {
	appearance: none;
	transition: all ease 100ms;
	height: var(--thumb-height);
}

.volume-slider::-moz-range-track,
.volume-slider::-moz-range-thumb,
.volume-slider::-moz-range-progress {
	background: #fff0;
}

.volume-slider::-moz-range-thumb {
	background: currentColor url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" width="18px" height="18px"><path d="M3 10v4h4l5 5V5L7 10H3zm13.5 2c0-1.77-.77-3.29-2-4.28v8.56c1.23-.99 2-2.51 2-4.28zM14 3.23v2.06c2.89 1.07 5 3.87 5 7.71s-2.11 6.64-5 7.71v2.06c4.01-1.21 7-4.97 7-9.77s-2.99-8.56-7-9.77z"/></svg>') no-repeat center;
	border: 0;
	width: var(--thumb-width, var(--thumb-height));
	border-radius: var(--thumb-width, var(--thumb-height));
	cursor: grab;
    transition: all 0.5s ease;
}

.volume-slider:active::-moz-range-thumb {
	cursor: grabbing;
}

.volume-slider::-moz-range-track {
	width: 100%;
	background: var(--track-color);
}

.volume-slider::-moz-range-progress {
	appearance: none;
	background: currentColor;
	transition-delay: 30ms;
}

.volume-slider::-moz-range-track,
.volume-slider::-moz-range-progress {
	height: calc(var(--track-height) + 1px);
	border-radius: var(--track-height);
}

.volume-slider::-moz-range-thumb,
.volume-slider::-moz-range-progress {
	filter: brightness(100%);
}

.volume-slider:hover::-moz-range-thumb,
.volume-slider:hover::-moz-range-progress {
	filter: brightness(var(--brightness-hover));
}

.volume-slider:active::-moz-range-thumb,
.volume-slider:active::-moz-range-progress {
	filter: brightness(var(--brightness-down));
}

.volume-slider:disabled::-moz-range-thumb {
	cursor: not-allowed;
}






/* ============================================ */
/* ================= SECTION 0 ================ */
/* ============================================ */
body.section-0 {
    overflow: hidden;
    margin: 0;
}

/* Image carousel */
.section-0 #main-body #image-carousel {
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
}

.section-0 #main-body #image-carousel .slide {
    opacity: 0;
    z-index: -10;
    height: 0;
    transition: opacity 0.9s ease-in-out;
    position: absolute;
    width: 100%;
}

.section-0 #main-body #image-carousel .slide.active {
    opacity: 1;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.section-0 #main-body #image-carousel .slide.fade-out {
    opacity: 0;
    height: 100%;
    z-index: 2;
}

.section-0 #main-body #image-carousel .slide p.image-caption {
    color: white;
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: #db3f58;
    padding: 10px;
    z-index: 5;
    margin: 0;
}

.section-0 #main-body #image-carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-0 #main-body #carousel-controls {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin: 16px;
    z-index: 10;
}

.section-0 #main-body #carousel-controls button {
    background-color: #db3f58;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0.5;
    cursor: pointer;
    outline: none;
    border: none;
}

.section-0 #main-body #carousel-controls button.active,
.section-0 #main-body #carousel-controls button:hover {
    opacity: 0.95;
}

.section-0 #main-body #carousel-controls button:focus {
    outline: 3px solid black;
    opacity: 0.95;
}


/* Start button */
.section-0 #main-body #start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.section-0 #main-body #start-button button {
    background-color: transparent;
    padding: 25px 50px;
    font-size: 8rem;
    cursor: pointer;
    color: white;
    border: none;
    font-family: 'Just Another Hand', cursive;
    opacity: 0;
    transition: opacity 0.5s ease, font-size 1s ease, outline 0.5s ease;
}

.section-0 #main-body #start-button button.active {
    opacity: 0.95;
}

.section-0 #main-body #start-button button:hover, 
.section-0 #main-body #start-button button:focus {
    outline: solid 10px white;
}

.section-0 #main-body #start-button button.expanding {
    font-size: 24rem;
}

.section-0 #main-body #start-button button.fading {
    opacity: 0;
    transition: opacity 1s ease, font-size 1s ease, outline 1s ease;
}

#temporary-hint {
    opacity: 0;
    transition: opacity 1.5s ease;
    height: 0;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

#temporary-hint.active {
    opacity: 0.95;
    height: auto;
}



/* ============================================ */
/* ================= MARKDOWN ================= */
/* ============================================ */
body.section-md, 
body.section-md #main-body, 
body.section-md #main-body .container {
    width: 100%;
}

body.section-md #temporary-hint {
    display: none;
}

.section-md #main-body .container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
    background-color: #f7f7f7;
    padding-bottom: 50px;
}

.section-md #main-body .container > .left-col {
    width: 50%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    margin: 40px 7vw;
}

.section-md #main-body .container > .left-col img {
    width: 100%;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.5s ease;
}

.section-md #main-body .container > .left-col img.vert {
    width: 60%;
    margin: 20px 20%;
}

.section-md #main-body .container > .left-col img:hover {
    transform: scale(1.05);
}

.section-md #main-body .container > .left-col h1,
.section-md #main-body .container > .left-col h2,
.section-md #main-body .container > .left-col h3,
.section-md #main-body .container > .left-col h4,
.section-md #main-body .container > .left-col h5 {
    color: #db3f58;
}

.section-md button.narration-button {
    display: flex;
    background-color: #db3f58;
    padding: 10px 20px;
    border: 0px;
    border-radius: 20px;
    min-width: 225px;
    color: white;
    gap: 20px;
    position: absolute;
    left: var(--narration-button-offset);
    transition: all 0.5s ease;
    cursor: pointer;
}

.section-md .narration-button:hover {
    filter: brightness(1.2);
}

.section-md .narration-button svg {
    fill: white;
    height: 20px;
}

.section-md .narration-button.narration-button-gap {
    translate: 0 60px;
}